table td {border-width: 2px; padding: 2px;}
table[class=heading] {border-spacing: 0px; width:100%}
td[class=content_heading] {padding: 0px;}
body {border-width: 1px; border-top-style: inset; border-bottom-style: outset; border-left-style: inset; border-right-style: outset; font-family: "Malgun Gothic", "Nanum Gothic", "Verdana"; font-size: 100%; width: 920px; margin: 0px auto; -webkit-text-size-adjust: 115%; background-color: #D9D9D9;}
a:link {text-decoration: none; color: #997F3D;}
a:visited {text-decoration: none; color: #997F3D;}
h1 {color: #000000;}
h2 {color: #000000;}
h3 {color: #000000;}
@media only screen and (max-device-width: 480px) {  
html, body {max-width: 100%; overflow-x: hidden;}
body {border-width: 1px; border-top-style: outset; border-top-style: inset; border-bottom-style: outset; border-left-style: inset; border-right-style: outset; font-family: "Malgun Gothic", "Nanum Gothic", "Verdana"; font-size: 70%; width: auto; margin: 0px auto; -webkit-text-size-adjust: 115%; background-color: #D9D9D9;}
table {border-spacing: 0px; width:100%}
td[class=figure] {clear:both; width:100%; float:left; text-align: center;}
td[class=content_left] {clear:both; width:100%; float:left; text-align: left; padding: 2px 0px 2px 0px;}
td[class=content_right] {clear:both; width:100%; float:left; text-align: right; padding: 2px 0px 2px 0px;}
td[class=content_mid] {clear:both; width:100%; float:left; text-align: center;}
img[class=paper] {width: 75%; object-fit: contain;}
/* div[class=watermark] {background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(watermark/watermark_vandy.gif) no-repeat center center; background-size: 50%;} */
dl {width: 100%; overflow: hidden; padding: 0; margin: 0}
dd {float: left; width: 100%; margin: 0}
ul {padding: 0px 0px 0px 17px;}
h1[class=Qi] {text-align: center; margin-top: 0; margin-bottom: 0;}
